[Unit]
Description=Check battery level every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=battery-notify.service

[Install]
WantedBy=timers.target

